.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 0; */
    transform: translate(-50%, -50%);
    background-color: #21bbbb;
    padding: 20px 30px;
    border-radius: 10px;
    width: 380px;
    height: 380px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    /* transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 20ms ease-in-out 0ms; */
    
}
.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 20ms ease-in-out 0ms;

}

.popup .close-btn{
    position: absolute;
    top: 3px;
    right: 15px;
    width: 15px;
    height: 15px;
    color: white;
    cursor: pointer;
    font-size: 30px;

}
.popup .form{
    padding-top: 40px;
}
.popup .form h1{
    text-align: center;
    color: whitesmoke;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.popup .form .form-element{
    margin: 15px 0px;
}

.popup .form .form-element input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
    padding: 0px 10px;
    color: #00e4e5;
    margin-top: 5px;
}

button {
    background-color: #115748;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    margin-right:16px;
    border-radius: 15px;
  }
p{
    color: rgb(183, 43, 43);
}
  .cancel{
    background-color: red;
  }