
*{
    margin: 0;
    padding: 0;
}
table{
    background-color: #00FFFF;
}
.table-header{
    padding-top:10px;
    padding-bottom: 30px;
  }
thead{
    background-color: #3090C7!important;
}
.edit{
    margin-left: 5px;
}
.add{
    /* background-color: #045F5F!important; */
    color: rgb(255, 255, 255);
    padding: 2px;
}
.delete,.edit{
    background-color: transparent;
    margin-right: 2px;
    padding: 2px;
}
.container{
    width:100vh;
    height:100vh;
    /* background-size: cover; */
    background-color:#87CEEB
}